{% if hotels|length > 0 %}
    
        {% for hotel in hotels %}
            <div class="card m-3">
                {% if hotel.photo|length > 0 %}
                    {% for pic in hotel.photo %}
                        {% if pic.cover %}
                            <img src="{{ asset('uploads/photos/') }}{{pic.lien}}" class="card-img-top m-0 h-auto w-100 p-0" alt="photo de la hotel">
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <img src="{{ asset('uploads/photos/') }}nopic.jpg" class="card-img-top m-0 h-auto w-100 p-0" alt="aucune photo disponible">
                {% endif %}
                <div class="card-body p-0">
                    <h3 class="card-title">{{ hotel.nom }}</h3>
                        <div class="container">
                            <div class="row align-items-start">
                                <div class="col col-12 col-lg-6 g-2">
                                    <p class="card-text">{{ hotel.ville }}</p>
                                </div>
                                <div class="col col-12 col-lg-6 g-2">
                                    <a class="btn btn-primary iconic m-1" href="{{ path('app_hotel_show', {'id': hotel.id}) }}" title="Voir">
                                        {% include 'boutons/voir.html.twig' %}
                                    </a>       
                                    {% if app.user and app.user.hotel and app.user.hotel is same as(hotel) %} 
                                        <a class="btn btn-primary iconic m-1" href="{{ path('app_hotel_edit', {'id': hotel.id}) }}" title="Editer cette hotel">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                            </svg>
                                        </a>
                    
                                        <a class="btn btn-primary iconic m-1" href="{{ path('app_photo_index', {'hotel': hotel.id}) }}" title="Voir les photos de cet hotel">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-images" viewBox="0 0 16 16">
                                                <path d="M4.502 9a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
                                                <path d="M14.002 13a2 2 0 0 1-2 2h-10a2 2 0 0 1-2-2V5A2 2 0 0 1 2 3a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2v8a2 2 0 0 1-1.998 2zM14 2H4a1 1 0 0 0-1 1h9.002a2 2 0 0 1 2 2v7A1 1 0 0 0 15 11V3a1 1 0 0 0-1-1zM2.002 4a1 1 0 0 0-1 1v8l2.646-2.354a.5.5 0 0 1 .63-.062l2.66 1.773 3.71-3.71a.5.5 0 0 1 .577-.094l1.777 1.947V5a1 1 0 0 0-1-1h-10z"/>
                                            </svg>
                                        </a>
                                    {% endif %}
                                </div>
                    </div>
                    </div>
                </div>
            </div>
           
            {% endfor %}
          
            
            
        {% else %}
           Aucune photo 
        {% endif %}