{% extends 'base.html.twig' %}

{% block title %}Les Hôtels{% endblock %}

{% block body %}
    <h2>Bienvenue !</h2>
    <div class="container large-width">
        <div class="row align-items-start">
            <div class="col-12 col-lg-2 left-col">
                 {{ include('hotel/_aside_hotels.html.twig') }}
            </div>
           
            
            <div class="col-12 col-lg-6 left-col">
            <img class="logo mx-auto d-block" src="{{ asset('images/logo.PNG') }}" alt="Logo Hypnos" />
            <h1 class="title mx-auto d-block">Hypnos</h1>
            <p>Le Groupe « Les Hôtels Hypnos » est une entreprise familiale mais surtout une identité, 
            cultivée depuis la création de l’entreprise en 1992.</p>
            <p>En 2017, un nouveau label a été inauguré pour marquer la « Révolution » de l’entreprise, résolument tournée vers l’avenir, une collection d'hôtels, de resorts, de restaurants, de bars, de clubs, de spas et d'espaces de travail.</p>
            <p>La collection Signature met à l’honneur des lieux de vie expérientiels regroupant hébergement luxueux, espaces « Food & Beverage » pointus et des laboratoires d’idées, d’univers où la famille Machefert laisse libre cours à son imagination et à son amour inconditionnel pour le voyage.</p>
            <p>Ce lancement a été renforcé par des programmes de rénovation couvrant 9 établissements en 2017 et 8 établissements en 2018 sur les 20 hôtels du Groupe à Paris, Saint-Tropez et Marrakech.</p>
            <p></p>
            </div>
             <div class="col-12 col-lg-4 g-0">
                 {{ include('accueil/_slider.html.twig') }}
                 {{ include('accueil/_slider.html.twig') }}
                  {{ include('accueil/_slider.html.twig') }}
                   {{ include('accueil/_slider.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
