{% extends 'base.html.twig' %}

{% block title %}Photo index{% endblock %}

{% block body %}
    <h1>Photo index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Lien</th>
                <th>Cover</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for photo in photos %}
            {% if photo.hotel == app.user.getHotel %}
                <tr>
                    <td>{{ photo.id }}</td>
                    <td>{{ photo.lien }}</td>
                    <td>{{ photo.cover ? 'Yes' : 'No' }}</td>
                    <td>
                        <a href="{{ path('app_photo_show', {'id': photo.id}) }}">show</a>
                        <a href="{{ path('app_photo_edit', {'id': photo.id}) }}">edit</a>
                    </td>
                </tr>
            {% endif %}
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_photo_new') }}">Ajouter des photos</a>
{% endblock %}
