{% extends 'base.html.twig' %}

{% block body %}
<h2 class="card-title">Contactez-nous</h2>
<div class="card larg contact-form p-2"> 
    <div class="row g-0">
        <div class="col-lg-6">
            <img src="{{ asset('/images/bell.jpg') }}" class="img-fluid img-contact rounded h-100" alt="...">
        </div>
        <div class="col-lg-6">
            <div class="card-body">
                {{ form_start(form) }}
                    <div class="form-group">
                        {{ form_row(form.nom, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.prenom, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.email, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.objet, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.message, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        <input type="hidden" value="Send" class="btn btn-primary m-2">
                        <button class="btn m-3" title="Envoyer le message">Envoyer
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send" viewBox="0 0 16 16">
                                <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576 6.636 10.07Zm6.787-8.201L1.591 6.602l4.339 2.76 7.494-7.493Z"/>
                            </svg>
                        </button>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
<div class="d-flex">
    {% for i in 0..3 %}
        <div class="d-flex col-12 col-lg-3 g-0">
            {{ include('accueil/_slider.html.twig') }}
        </div>
    {% endfor %}
</div>
{% endblock %}
