<header>
  <div class="admin-buttons">
    {% if app.user %}
        {% if "ROLE_ADMIN" in app.user.roles %}
            <a type="button" class="btn" href="/admin">Admin</a>
        {% endif %}{% endif %}
            <a type="button" class="btn" href="{{ app.user ? path('logout') : path('login')}}">{{ app.user ? 'Déconnexion' : 'Connexion' }}</a>
  </div>
  <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="{{ path('app_accueil') }}"
            ><img class="logo" src="{{ asset('images/logo.PNG') }}" alt="Logo Hypnos" /><h1 class="title">Hypnos</h1></a
          >
         
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarScroll"
            aria-controls="navbarScroll"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarScroll">
            <ul
              class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll"
            >
              <li class="nav-item">
                <a class="nav-link active ms-5" 
                  aria-current="page" 
                  href="{{ path('app_accueil') }}"
                >Accueil
                </a>
              </li>
              <li class="nav-item">
                <a 
                  class="nav-link ms-5" 
                  href="{{ path('app_hotel_index') }}"
                >Nos Hôtels</a>
              </li>
               {% if app.user %}
                  {% if "ROLE_GERANT" in app.user.roles %}
                    {% if app.user.hotel %}
                      <li class="nav-item">
                        <a 
                        class="nav-link ms-5" 
                        href="{{ path('app_hotel_show', {'id': app.user.hotel.id}) }}"
                        >Mon Hôtel</a>
                      </li>
                      <li class="nav-item">
                        <a 
                        class="nav-link ms-5" 
                        href="{{ path('app_photo_index') }}"
                        >Photos</a>
                      </li>
                    {% else %}
                      <li class="nav-item">
                        <a 
                        class="nav-link ms-5" 
                        href="{{ path('app_hotel_new') }}"
                        >Créer mon Hôtel</a>
                      </li>
                    {% endif %}
                  {% endif %}
                  {% if "ROLE_ADMIN" in app.user.roles %}
                    <li class="nav-item">
                      <a 
                      class="nav-link ms-5" 
                      href="{{ path('app_register_gerant') }}"
                      >Ajouter un gérant</a>
                    </li>
                  {% endif %}
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>
</header>